/* .sections{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.4cm;
}
 */
.bod{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.5cm;   
}
.style{
  font-family: 'Times New Roman', Times, serif;
}
.column {
    float: right;
    width: 33.33%;
    padding: 40px;
    height: 100%; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    padding-top: 100px;
  }
  .left {
    width: 20%;
  }
  .right{
      width:30%;
  }
  
  .middle {
    width: 50%;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .main-button{
    text-justify: auto;
    text-align: center;
    border-radius: 100px;
    border-style: dashed;
    border-color: blue;
    box-sizing: border-box;
    box-shadow: inset;
}
